html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicon.ico">
  body
    div.mainInfo
        h1 Тем временем в Берлине
        div=time
        div=temp